
:root {
  --color-warning: rgb(247, 178, 40);
  --color-gray-darker: rgb(101, 119, 135);
  --color-gray-lighter: rgb(245, 248, 250);
  --color-category-home: rgb(211, 36, 131);
  --color-primary: rgb(0, 119, 179);
  --color-category-vehicle: rgb(54, 74, 129);
  --color-success: rgb(0, 135, 90);
  --color-category-family: rgb(11, 114, 136);
  --color-primary-lightest: rgb(243, 249, 252);
  --color-primary-lighter: rgb(230, 242, 248);
  --color-brand-blue: rgb(0, 161, 212);
  --color-primary-dark: rgb(0, 77, 128);
  --color-gray-lightest: rgb(255, 255, 255);
  --color-category-finance: rgb(122, 1, 196);
  --color-gray-dark: rgb(144, 149, 153);
  --color-gray-light: rgb(225, 227, 230);
  --color-secondary: rgb(0, 41, 77);
  --color-category-pet: rgb(168, 1, 78);
  --color-primary-light: rgb(205, 229, 241);
  --color-category-travel: rgb(213, 66, 3);
  --color-gray: rgb(207, 210, 212);
  --color-danger: rgb(222, 35, 98);
  --color-gray-darker-turva: rgb(68, 68, 69);
  --color-gray-lighter-turva: rgb(245, 245, 247);
  --color-category-home-turva: rgb(161, 10, 78);
  --color-primary-turva: rgb(198, 12, 48);
  --color-category-vehicle-turva: rgb(23, 28, 58);
  --color-success-turva: rgb(8, 135, 78);
  --color-primary-lightest-turva: rgb(252, 243, 244);
  --color-category-family-turva: rgb(199, 12, 112);
  --color-category-union-turva: rgb(169, 69, 124);
  --color-primary-lighter-turva: rgb(249, 230, 234);
  --color-primary-dark-turva: rgb(148, 9, 37);
  --color-gray-lightest-turva: rgb(255, 255, 255);
  --color-gray-dark-turva: rgb(116, 116, 117);
  --color-gray-light-turva: rgb(228, 228, 230);
  --color-brand-gray-turva: rgb(178, 180, 179);
  --color-secondary-turva: rgb(23, 28, 58);
  --color-primary-light-turva: rgb(244, 207, 214);
  --color-category-travel-turva: rgb(9, 129, 148);
  --color-gray-turva: rgb(207, 207, 209);
  --color-danger-turva: rgb(224, 42, 13);
  --color-warning-turva: rgb(250, 164, 15);
  --color-data-07: rgb(192, 101, 247);
  --color-data-08: rgb(0, 105, 191);
  --color-data-09: rgb(19, 120, 53);
  --color-data-10: rgb(179, 60, 24);
  --color-data-11: rgb(13, 163, 166);
  --color-data-01: rgb(122, 1, 196);
  --color-data-12: rgb(11, 114, 136);
  --color-data-02: rgb(0, 155, 204);
  --color-data-13: rgb(179, 137, 24);
  --color-data-03: rgb(27, 171, 75);
  --color-data-14: rgb(128, 98, 17);
  --color-data-04: rgb(255, 86, 34);
  --color-data-15: rgb(0, 41, 77);
  --color-data-05: rgb(245, 76, 154);
  --color-data-06: rgb(194, 21, 101);
  --font-weight-extra-bold: 800;
  --letter-spacing-heading: -0.01rem;
  --font-family-heading-turva: 'turva-sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-text-turva: 'turva-sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-heading: 'localtapiola-sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-text: 'localtapiola-sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --font-weight-semi-bold: 600;
  --font-size-xxxx-large: 4.5rem;
  --font-size-xxx-large: 3rem;
  --font-size-xx-large: 2.25rem;
  --font-size-x-large: 1.5rem;
  --font-size-large: 1.25rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;
  --font-size-x-small: 0.75rem;
  --radius-sharp: 0;
  --radius-default: 4px;
  --radius-medium: 8px;
  --radius-large: 20px;
  --radius-circle: 50%;
  --radius-pill: 20rem;
  --shadow-tooltip-turva: 0 2px 10px 0 rgba(117, 117, 117, 0.13);
  --shadow-focus-input-turva: 0 0 0 1px #171c3a;
  --shadow-default: 0 2px 6px 0 rgba(0, 41, 77, 0.07);
  --shadow-focus-input: 0 0 0 1px #0077b3;
  --shadow-tooltip: 0 2px 10px 0 rgba(0, 41, 77, 0.07);
  --shadow-hover-input-turva: 0 0 0 1px #747475;
  --shadow-error-turva: 0 0 0 1px #e55039;
  --shadow-hover-input: 0 0 0 1px #909599;
  --shadow-error: 0 0 0 1px #de2362;
  --shadow-card-turva: 0 2px 6px 0 rgba(117, 117, 117, 0.13), 0 -1px 0 0 rgba(0, 0, 0, 0.09), -1px 0 0 0 rgba(0, 0, 0, 0.07), 1px 0 0 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.07);
  --shadow-modal: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
  --shadow-card: 0 2px 6px 0 rgba(0, 41, 77, 0.07), 0 -1px 0 0 rgba(0, 0, 0, 0.09), -1px 0 0 0 rgba(0, 0, 0, 0.07), 1px 0 0 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.07);
  --shadow-focus-turva: 0 0 0 4px rgba(23, 28, 58, 0.2), 0 0 0 1px #171c3a;
  --shadow-focus: 0 0 0 4px rgba(0, 119, 179, 0.3), 0 0 0 1px #0077b3;
  --shadow-hover-turva: 0 2px 10px 0 rgba(117, 117, 117, 0.15);
  --shadow-hover: 0 2px 10px 0 rgba(0, 41, 77, 0.1);
  --shadow-default-turva: 0 2px 6px 0 rgba(117, 117, 117, 0.13);
  --space-xx-small: 4px;
  --space-large: 20px;
  --space-x-small: 8px;
  --space-xxx-small: 2px;
  --space-small: 12px;
  --space-medium: 16px;
  --space-xx-large: 36px;
  --space-xxxx-large: 72px;
  --space-xxxxx-large: 94px;
  --space-xxx-large: 48px;
  --space-x-large: 28px;
  --size-icon-xx-large: 48px;
  --size-form-border: 1px;
  --size-step-medium: 40px;
  --size-button-min-width: 8rem;
  --size-header: 4rem;
  --size-icon-xxx-large: 72px;
  --size-icon-x-large: 36px;
  --size-icon-xx-small: 10px;
  --size-step-small: 30px;
  --size-navigation: 3rem;
  --size-icon-large: 30px;
  --size-layout-max-width: 1110px;
  --size-tappable-square: 48px;
  --size-icon-x-small: 16px;
  --size-medium-border: 2px;
  --size-icon-xxx-small: 7px;
  --size-button-border: 1px;
  --size-button-tiny-border: 1px;
  --size-icon-medium: 24px;
  --size-icon-small: 20px;
  --opacity-85: 0.85;
  --opacity-75: 0.75;
  --opacity-50: 0.50;
  --opacity-30: 0.30;
  --z-index-mask-buttons: 250;
  --z-index-dropdown: 600;
  --z-index-spinner: 800;
  --z-index-default: 1;
  --z-index-toast: 500;
  --z-index-popup: 950;
  --z-index-modal: 900;
  --z-index-sticky: 300;
  --z-index-masked: 100;
  --z-index-deep: -999999;
  --z-index-overlay: 700;
  --z-index-mask: 200;
  --z-index-header: 400;
  --line-height-medium: 1.5;
  --line-height-small: 1.25;
  --line-height-x-small: 1.1;
  --transition-quickly: 300ms ease;
  --transition-slowly: 600ms ease;
  --media-query-xxx-large: '(min-width: 106.25em)';
  --media-query-x-large: '(min-width: 64.0625em)';
  --media-query-medium: '(min-width: 48em)';
  --media-query-large: '(min-width: 62em)';
  --media-query-xx-large: '(min-width: 76.25em)';
  --media-query-x-small: '(max-width: 35.9375em)';
  --media-query-xxx-small: '(max-width: 20.5em)';
  --media-query-small: '(min-width: 36em)';
  --media-query-xx-small: '(max-width: 22.5em)';
}
